@inherits LayoutComponentBase
@using BlazorAPI.Data.Fluxor.Auth
@using Fluxor
@inject IDispatcher Dispatcher
@inject NavigationManager Navigation

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@* @code {
   protected override void OnInitialized()
    {
        Navigation.LocationChanged += (_, args) =>
        {
            if (!args.Location.Contains("login"))
            {
                Dispatcher.Dispatch(new NavigationAction(args.Location));
            }
        };
    }
} *@